.alternate{
    background: black;
    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.24), 0 3px 14px 2px rgba(0,0,0,0.22), 0 5px 5px -3px rgba(0,0,0,0.30);
    padding: 32px;
    color: var(--main-pr);
}

.separator {
    min-width: 0;
}

.contactInfo{
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}
