.company{
    font-size: 1.25rem;
    font-weight: 900;
    font-family: arial;
    text-align: right;
}

.experienceList{
    display: grid;
    grid-gap: 16px 32px;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    min-width: 0;
}

.tecnologyList{
    display: grid;
    -webkit-padding-start: 0;
    grid-template-columns:  repeat(5, 1fr);
    grid-gap: 0.25rem;
    max-width: 100%;
}

.tecnology{
    box-shadow: 0 1px 5px grey;
    margin: 7px;
    text-align: center;
}


.experience{
    background-color: var(--transparency-7);
    box-shadow: var(--pri-sh), var(--sec-sh), var(--ter-sh);
    padding: 32px;
    color: var(--main-pr);
    overflow: hidden;
}

.NerderyLogo {
    fill: white;
}
